
      .app{
          background: rgba(218,182,200,0.5)!important;
      }
      .app-sidebar
      {
        width: 250px !important;
        max-width: 250px !important; /* Your custom width */
        font: inherit !important;
        background: #002147 !important;
        
        /*overflow-y: hidden!important;*/
      }
      .app-sidebar a{
        padding-right: 8px !important;
      }
      .app-sidebar::-webkit-scrollbar {
        background-color: #002147 !important;
      }

      .app-sidebar::-webkit-scrollbar-thumb{
        background-color: white !important;
      }

      .app-sidebar a{

      }
      .active{
        /*opacity: 0.2;*/
        /*color :#ff5349 !important;*/
        color: #bf81a0 !important;
      }

      .navbar {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }




    .bg-blue{
        background: #002147 !important;
        color:white;
      }
    .avatar img {
      width: 150px;
      height: 150px;
      vertical-align: middle;
      max-width: 300px;
      max-height: 300px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(218,182,200,0.5);
      padding: .2rem;
      background-color: white;
    }


